body {
 h1 { color: blueviolet; font-size: medium; font-family: 'Times New Roman', Times, serif; text-align: center;}

    background-image: linear-gradient(to left, rgb(1, 1, 128), rgb(53, 2, 2));

    p {color: rgb(160, 26, 160);
        text-align: left9; font-size: large;

    }


}