@charset "UTF-8";

div#conteiner {
    display: flex;
    background-color: aqua;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
   
    
}

div.item {
    
    background-color: bisque;


}